[2018-11-15 14:07] jhunt opened #1 "Kubernetes Sonobuoy self-certification"
Use https://github.com/heptio/sonobuoy and get all four configurations of k8s-boshrelease certified.  See https://github.com/cncf/k8s-conformance/blob/master/terms-conditions/Certified_Kubernetes_Terms.md for more detailed information.

[2018-11-15 14:11] jhunt opened #2 "Run Kubemark against various configurations"
I would like to put some [Kubemark][1] tests together for various configurations of k8s.  This probably needs to be done in AWS or GCP, since local vSphere lab is a bit taxed at the moment (and has disk / NFS latency issues regardless).

[1]: https://www.solinea.com/blog/kubernetes-performance-testing

[2018-11-15 14:18] jhunt opened #3 "Investigate k8s-in-k8s"
My good friend and Kubernetes expert @dmolik wants to try running the components _of_ k8s _on top of_ Kubernetes.  The basic gist is that we move as much out from under the control of `monit` as possible, leaving behind just the kubelet process and whatever the containerd + runtime chosen needs.  The kubelet then leverages the containerd + runtime to run [Static Pods][2] for control plane componen

[2018-11-15 14:26] jhunt opened #4 "Smoke Tests"
Write a simple smoke test that allows operators to verify that a cluster is not just spinning, but also functional.

The first version of this smoke test (MVP) should perform the following:

1. Create a namespace (with a dynamic name)
2. Create a replica set in that namespace, using a configurable image (see **Caveats**, below)
3. Attach to the log stream of the pod, validate presence of a _beacon

[2019-01-03 15:46] jhunt opened #6 "Kubernetes ~1.13~ 1.14"
Upgrade to it.

[2019-01-14 18:17] jhunt opened #9 "Add Cloud Provider Configuration Support"
As an operator of a Kubernetes, I'd like to be able to configure a cloud-provider for my IaaS.

[2019-01-14 18:18] jhunt opened #10 "Rework Labels"
Our labels (for selectors) are a mess.  Fix them.

As an example, the master nodes should probably have labels that identify them as such.

[2019-01-14 19:34] jhunt opened #11 "Support Calico and Flannel out-of-the-box"
It would be nice if we could support either calico or flanneld out of the box.  Perhaps this is a thing we do in the `control` VM, via spec:

[code]

[2019-06-07 04:12] jhunt commented on #11
Flannel is supported now.

[2019-06-10 15:21] jhunt commented on #10
Done!

[2019-06-10 15:21] #10 closed, assigned to nobody

[2019-06-10 21:00] jhunt commented on #6
Upgraded! https://github.com/jhunt/k8s-boshrelease/releases/tag/v1.14.0

[2019-06-10 21:00] #6 closed, assigned to jhunt

[2019-06-12 11:11] jhunt opened #12 "Add ipvsadm package to all kubelets"
Starting in kube-proxy 1.14.0, we're using IPVS for service routing; it would be nice to have `ipvsadm` for troubleshooting, diagnostic, and verification purposes, on all nodes that might run a pod for the proxy daemonset (i.e. all kubelets)

[2019-06-12 11:57] jhunt opened #13 "Add (secure) Tiller Installation, out-of-the-box"
I would like to be able to optionally (and securely) install the bits and pieces necessary to make helm usable on a stock k8s cluster deployed by this BOSH release.

see https://blog.ropnop.com/attacking-default-installs-of-helm-on-kubernetes/

[2019-06-12 11:59] jhunt opened #14 "Optional: Kubernetes Dashboard Deployment"
It would be nice if I could specify in my BOSH manifest for k8s that I wanted the dashboard, and have it apply the kube spec for me.

[2019-06-12 12:02] jhunt commented on #9
found some resources, for vSphere:

https://blah.cloud/kubernetes/setting-up-k8s-and-the-vsphere-cloud-provider-using-kubeadm/

and

https://blah.cloud/kubernetes/using-the-vsphere-cloud-provider-for-k8s-to-dynamically-deploy-volumes/

[2019-06-18 18:54] jhunt commented on #9
Added for vSphere

[2019-06-18 19:59] #9 closed, assigned to jhunt

[2019-06-19 04:00] #12 closed, assigned to jhunt

[2019-07-11 22:29] alexanelli opened #15 "If cloud_provider not specified throws an error"
the boshrelease will take 'none', but does require a value

[2019-07-12 02:43] jhunt commented on #15
The documentation (in the spec file) claims it is an optional property, but the templates fail to render.  You can put literally anything other than vSphere in and it will work.

1) Make it truly optional
2) Raise an error if something other than "vsphere" _is_ set.

[2019-07-13 14:09] jhunt opened #16 "Bridge to Netfilter / IPTables"
Ran into this issue this morning, with a tinynetes: https://github.com/coredns/coredns/issues/1879 and https://github.com/kubernetes/kubernetes/issues/21613.

We were in fact bypassing netfilter for bridged traffic, causing our DNS responses to come directly from the pod IP, and not get mangled to "originate" from the service IP for DNS.

Fixed it with the following:

[code]

Afterwards, the sysct

[2019-07-14 19:06] #14 closed, assigned to nobody

[2019-07-14 19:06] #15 closed, assigned to jhunt

[2019-07-14 19:06] #16 closed, assigned to jhunt

[2019-10-17 22:44] jhunt opened #17 "vSphere Volumes Won't Mount"
We had such high hopes for 1.14.0-build.4, with respect to supporting vSphere volume provisioning.

While the provisioning seems to work (PVs get created in response to PVCs), not all is hunky-dory in the mounting-and-using side of the house:

[code]

Investigate and fix.

[2019-10-24 19:16] #17 closed, assigned to nobody

[2019-10-25 23:28] jhunt opened #18 "Upgrade to Kubernetes 1.15.x"

[2019-10-25 23:28] jhunt opened #19 "Upgrade to Kubernetes 1.16.x"

[2019-10-26 04:10] jhunt commented on #18
Released!

[2019-10-26 04:10] #18 closed, assigned to jhunt

[2019-10-26 04:10] jhunt commented on #19
Released!

[2019-10-26 04:10] #19 closed, assigned to jhunt

[2019-10-26 21:10] drnic commented on #13
You can probably not do this now as helm 3 removes tiller.

Or try out https://github.com/starkandwayne/helm-tiller-manager

[2019-10-26 23:26] jhunt commented on #13
Interesting, as of 4 days ago (per https://github.com/helm/helm/releases/tag/v3.0.0-beta.5), 3.0.0-rc1 is very close to release.  I think we'll close this and move on with the rest of the ecosystem.

[2019-10-26 23:26] #13 closed, assigned to jhunt

[2019-11-06 14:22] jhunt opened #22 "AWS Cloud Provider support"
I would like to run this in AWS, and have easy access to ELB/ALBs, EBS volumes, etc.

[2019-11-11 19:01] jhunt opened #23 "MASQUERADing --random-fully in iptables"
This is an interesting read:
https://tech.xing.com/a-reason-for-unexplained-connection-timeouts-on-kubernetes-docker-abd041cf7e02

I found this while looking into why my kubelet logs are full of this:
[code]

Apparently, `--random-fully` is patched into iptables, and it isn't in our version.  The patch (https://git.netfilter.org/iptables/commit/?id=8b0da2130b8af3890ef20afb2305f11224bb39ec) seems s

[2019-11-11 19:37] jhunt opened #24 "Upgrade to etcd 3.3.14 (minimum) to fix gRPC etcd security issues"
v3.3.14 fixed some stuff that affects Kubernetes use cases:

(from https://github.com/etcd-io/etcd/releases/tag/v3.3.14)

This is in reference to https://github.com/kubernetes/kubernetes/issues/72102, which I am seeing on one of our larger k8s installations.

My API node logs are filled with these errors:
[code]

Upgrade to 3.3.14 and test it out.

[2019-11-11 19:53] #24 closed, assigned to jhunt

[2019-11-23 23:17] jhunt opened #26 "ipvsadm compile fails, _sometimes_."
Had a report, by way of #25 that the `make -j$CPU` bits of (at least) the ipvsadm compilation script cause issues on certain stemcells.  I think it might be more related to the number of cores on any 315+ Xenial stemcell, but we ought to investigate.

[2019-12-10 12:43] jhunt opened #27 "Upgrade to Kubernetes 1.17.x"
It's aliiive!

https://github.com/kubernetes/kubernetes/releases/tag/v1.17.0

[2019-12-10 12:44] jhunt commented on #26
Fixed in #25

[2019-12-10 12:44] #26 closed, assigned to jhunt

[2020-01-01 16:30] jhunt opened #28 "Name KUBECONFIG contexts better"
Trying to merge a bunch of these KUBECONFIGs together (from the jumpbox co-located job) and the `default` contexts are overwriting each other.

Let's name them after the cluster.

[2020-01-31 19:06] jhunt opened #29 "Bind NodePort on loopback / 127.0.0.1/8"
Eirini uses `127.0.0.1:32123` (or a different configurable NodePort) for images that it stages via buildpacks; this is the only endpoint a kubelet can natively access.  Unfortunately, with ipvsadm, we are seeing that kube-proxy only binds the node IP for the NodePort traffic forwarding, so kubecf doesn't seem to work with ipvsadm.

## Steps to Reproduce

Here's a daemonset that shows off the probl

[2020-01-31 19:46] jhunt opened #30 "Update Trusted CA Bundle with K8s CA"
Some things need the Kubernetes CA to be trusted to function properly (i.e. KubeCF) - add it to the system-wide bundle in a pre-deploy script.

This really ought to be able to handle both *ubuntu* and *centos* stemcells, equally.

[2020-01-31 19:47] jhunt commented on #1
Ran this today against our lab cluster and everything passed, so there's no reason to not pursue certification.

[2020-02-01 19:58] jhunt opened #31 "Support Disabling Privileged Pods"
I would like to be able to disable privileged pods with a custom, purpose-built spec property.

Something like:

[code]

This should affect the (currently hard-coded) `--allow-privileged=...` line at https://github.com/jhunt/k8s-boshrelease/blob/master/jobs/control/templates/bin/api#L54

[2020-02-01 20:20] jhunt commented on #30
In Ubuntu, this is handled by:

[code]

[2020-02-01 20:21] jhunt commented on #31
Turns out we can't just disable it at the `apiserver`; our kube-proxy daemonset relies on being able to do privileged pods.

[2020-02-02 00:12] jhunt commented on #30
In CentOS, this is handled by:

[code]

[2020-02-02 00:38] #28 closed, assigned to jhunt

[2020-02-02 00:38] #30 closed, assigned to jhunt

[2020-02-02 00:38] #29 closed, assigned to jhunt

[2020-02-02 01:19] #27 closed, assigned to jhunt

[2020-02-02 01:19] #3 closed, assigned to jhunt

[2020-02-02 01:20] #4 closed, assigned to jhunt

[2020-02-11 18:07] cweibel opened #32 "Support KubeCF bits on 127.0.0.1:32123"
Right now kubelet cannot pull images back from KubeCF blobstore since the service does not listen on loopback.

Adding "127.0.0.1/8" to the array of nodePortAddress in the kube-proxy [here](https://github.com/jhunt/k8s-boshrelease/blob/c742211e2e9f9fb4018bbfaa116c725128e75858/jobs/control/templates/k8s/kube-proxy.yml#L69) fixes this issue.

For example the following manual change results in a usab

[2020-02-11 20:33] jhunt commented on #32
If you add `127.0.0.1/8` (or the more restricted `127.0.0.1/32`) to the `network.nodes` list on the `control` job I think the the configMap will do what you want.

[2020-05-12 02:03] tpoland opened #33 "Pod status Unknown after recreate"
After running `bosh` with the `recreate` directive for single VM k8s cluster the coredns pods and any pods deployed outside of the `kube-system` namespace have a status of "Unknown". Describing the pod shows a Stats of "Running" with a Container state of "Terminated" and an Event message status of "Pod sandbox changed, it will be killed and re-created.".

Terminating the affected pods results in a

[2020-05-12 16:56] tpoland commented on #33
Upgrading the bosh deployment from a 1-node to a 2-node cluster also resulted in the same pod set failing.

Using a two-node k8s cluster fewer pods end up in an "Unknown" state, but the issue is still present.

[2020-05-12 21:32] tpoland commented on #33
Upgrading from a 2-node to 3-node k8s cluster does not result in any pod failures. Issuing a `recreate` does still result in a small subset of pod failures.

[2020-05-13 23:13] jhunt commented on #33
Yeah, I think we need to start cordoning and draining nodes in a pre-stop.  Curious how that will effect tinynetes, and whether or not we'll have to make that configurable...

[2020-05-14 03:17] jhunt commented on #33
I think this is handled in #34, with a drain script.  Take a look, and see what you think.

[2020-05-14 11:47] jhunt commented on #32
I believe this is fixed.

[2020-05-14 11:47] #32 closed, assigned to jhunt

[2020-05-14 11:47] #31 closed, assigned to jhunt

[2020-05-14 11:47] jhunt commented on #31
This is a job for PSPs

[2020-05-14 11:49] jhunt commented on #33
The fixes in PR #34 will be available in the next (1.18.x) release.

[2020-05-14 11:49] #33 closed, assigned to jhunt

[2020-05-14 13:20] jhunt opened #35 "Upgrade to v1.18.x"
It's been out for a bit now, time to do the needful.

[2020-05-14 14:41] #35 closed, assigned to jhunt

[2020-05-14 14:51] jhunt opened #36 "Flexernetes Deployment Topology"
Somewhere between prodernetes and labernetes, there exists a topology with a minimum (i.e. 1) set of etcd / apiserver nodes, and a scalable number of nodes.  I call this "flexernetes".  Let's make that happen.

[2020-05-16 22:15] jhunt opened #37 "Bundle cert-manager"
It would be nice if we could get cert-manager when the cluster starts up, as part of manifest.

If that ends up not being desirable, we should at least make a single property to enable a CA that can be used by a cert-manager issuer - the public certificate should be added to the system bundle on all kubelet VMs, and a post-deploy secret should be created for the private key, so that we can wire it

[2020-05-18 20:07] jhunt commented on #37
Fixed in 1.18.0-build.2 release: https://github.com/jhunt/k8s-boshrelease/releases/tag/v1.18.0-build.2

[2020-05-18 20:07] #37 closed, assigned to jhunt

[2020-06-17 13:40] obeyler opened #38 "Add Metric-server"
To be able to use Horizontal pos autoscaling (https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/), metric-server need to be installed inside the cluster.
May we can add it inside the control plane like cert-manager.

[2020-06-17 14:31] obeyler commented on #11
May Weavenet can also be an good option as it works like flannel and give the opportunity to use NetworkPolicy

[2020-06-17 16:28] obeyler opened #39 "Add the opportunity to use a docker mirror"
As we are in airgap env we use a private docker registry such as jcr from jfrog.
It allows to do upload the docker image onto the JCR registry and not on internet.

To do that the containerd.toml file need to be completed by this option:
[code]

[2020-06-17 16:54] obeyler opened #40 "BOSH Package Blob Access Issues"
I want to build a release from source to be able to help
[code]

[2020-06-17 16:55] obeyler commented on #40
/assign @jhunt

[2020-06-17 17:10] jhunt commented on #40
Not sure why that blob in particular wasn't public-read.  I chacl'd it to be world-readable.

/tryagain @obeyler ?

[2020-06-17 17:14] jhunt commented on #38
Since this is just a YAML apply, it can definitely go in the same way cert-manager does.

See https://github.com/kubernetes-sigs/metrics-server#deployment for installation steps.

[2020-06-17 17:15] obeyler commented on #40
@jhunt not full solve yet :-)
The first blob is Ok
now it's the second :-)
[code]

[2020-06-17 18:27] obeyler commented on #40
Thanks for the update !

[2020-06-17 18:27] jhunt commented on #40
Went ahead and chacl'd EVERYTHING to be public-read:

[code]

can you try again @obeyler ?

[2020-06-17 18:28] obeyler commented on #40
It works fine
Thanks a lot

[2020-06-18 00:04] jhunt commented on #39
Does this bring with it the need for insecure registries?  I.e. do we need to make it possible not only for operators to make use of a local image registry but also possibly one with a self-signed cert, an expired cert, or a cert with an untrusted issuer / intermediary chain?

[2020-06-18 04:54] obeyler commented on #39
I think so.
I already work a little about this Pb this night. I see some trouble
[code]
Is not enough. :-(

containerd wasn't able to download image k8s.gcr.io/pause:3.1

It also needs
[code]
Normally we can use wild card
[code]
but it fails I'm looking for why but I don't find yet
even with this I still have some pb with another image:

[code]

[2020-06-18 04:58] obeyler commented on #39
You can have a look at the PR I start to evaluate how to do here:
https://github.com/jhunt/k8s-boshrelease/pull/41
I need to change the property to be able to set an array of string , url instead of just only one url.

[2020-06-18 09:56] obeyler commented on #40
@jhunt I reopen the issue.
If you delete your .bosh (and so on remove the cache) there still some blob who are not defined:
[code]

[2020-06-18 11:19] jhunt commented on #40
I will try to do a clean clone build today

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-06-18 11:41] jhunt commented on #40
From a clean environment (a fresh clone of this repo), everything works for me:

[code]

Time for some environment detail requests:

1. What OS are you running on?
2. What version of BOSH CLI are you using?
3. What commit of this repo are you trying to build from?
4. What command are you running to build the dev release?
5. Have you made any changes locally, and if so what are they?

These answers

[2020-06-18 12:19] obeyler commented on #40
Have you try with move your ~/.bosh ~/.bosh.old before to clean the cache ?
with my old .bosh cache it works fine with a new recreate it failes

I'm on ubuntu
[code]
`bosh create-release --force`

[2020-06-18 12:26] obeyler commented on #40
Sorry I try from a clean git clone of your repo : it works fine even with renaming .bosh
The trouble occured only on my git fork
so it's an issue for me not for you :-)

[2020-06-18 12:26] #40 closed, assigned to jhunt

[2020-06-18 12:26] jhunt commented on #40
I had not, but I just tried that; it took a heck of a lot longer, but everything downloaded just fine.

I'm on macOS, running BOSH `6.2.0-e5ce64ab-2020-01-16T19:22:06Z`

I was _not_ doing a `--force`; I'll try that but I'm not optimistic.

[2020-06-18 12:27] jhunt commented on #40
No worries!  Glad you got past the obstacle! 😀

[2020-06-18 21:26] obeyler opened #42 "Missing CNI version inside Flannel conf"
As say in the specification of cni (https://github.com/containernetworking/cni/blob/master/SPEC.md#network-configuration)

https://github.com/jhunt/k8s-boshrelease/blob/2a771c749900d96fb5999314f80602fdcbffb6ae/jobs/net-flannel/templates/etc/cni/net.d/10-flannel.conflist#L2

example of config (see mandatory field: "cniVersion": "0.3.1")
[code]

you can see the effect on missing cniVersion  on this

[2020-06-18 21:35] obeyler opened #43 "Flannel need to be updated"
Flannel docker image needs to be updated as soon as the flannel image with fix CVE is released.

see https://quay.io/repository/coreos/flannel?tag=v0.10.0-amd64&tab=tags

https://github.com/jhunt/k8s-boshrelease/blob/2a771c749900d96fb5999314f80602fdcbffb6ae/jobs/net-flannel/templates/k8s-init/flannel.yml#L123

[2020-06-23 12:16] jhunt opened #45 "Check Validity of provided CA certificate"
Just ran into a case where credhub had an old TLS CA certificate for a test deployment I use everywhere, and that CA had expired.  This lead to some obscure breakage in the API server, which was unable to talk to etcd (because it couldn't / wouldn't validate with an expired CA in the chain).

Unfortunately, this manifested as a low-level gnutls error:

[code]

While true, this error is pretty ambi

[2020-06-25 12:39] obeyler opened #46 "Need CoreDNS bump to 1.6.9"
coredns is set by default in spec to 1.2.2
the coredns image for 1.18 is 1.6.9
in this case the proxy . /etc/resolv.conf inside the Coredns config map should be replace by
forward . /etc/resolv.conf

[2020-06-26 14:06] obeyler opened #48 "Offer storageclass independant of cloudprovider"
New feature request:
Like some product as openebs (openebs.io) or rook-ceph, the bosh release should offer a solution for PV independant from cloud provider.
I think it can be made by adding raw disk to the deployment of node and use it as raw device.
If we had it we don't need anymore to configure cloudprovider inside K8S.

[2020-06-29 13:21] obeyler opened #49 "Bump K8S version 1.18.5"
new release of K8S appeared
1.18.5

[2020-06-29 13:52] obeyler opened #51 "Add openstack cloudprovider"
I would like to run this in Openstack , and have easy access to EBS volumes, LB, etc.

[2020-06-30 14:11] jhunt commented on #49
I'll go through and bump all the components to their latest-ests.

[2020-06-30 14:13] jhunt commented on #51
I do not have access to a working OpenStack environment.  If you do, feel free to pursue this.

[2020-06-30 14:14] jhunt commented on #48
What would need to change about this BOSH release to support out-of-tree cloud providers?  I was under the impression one could just run one as pods, and they would handle everything via the API.

[2020-06-30 14:15] jhunt commented on #46
We should add the docker images to the same process we use for checking for packaged components.

[2020-06-30 14:43] jhunt opened #52 "Update cert-manager"
Update cert-manager deployment(s) to the latest stable / recommended.

https://cert-manager.io/docs/installation/kubernetes/

If possible, automate this via `./utils/update-from-upstream`

[2020-06-30 14:49] jhunt opened #53 "Update dashboard"
Update the embedded Kubernetes dashboard YAML to the latest version.

https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.3/aio/deploy/recommended.yaml

If possible, automate this via `./utils/update-from-upstream`

[2020-06-30 14:51] jhunt opened #54 "Update kube-proxy YAMLs"
Check the kube-proxy.yml add-on to see if we need to update anything for 1.18.x

[2020-06-30 14:52] jhunt opened #55 "Update kube-dns YAMLs"
Check the kube-dns.yml files to see if we need to update images, configs, etc.

If possible, automate this via `./utils/update-from-upstream`

[2020-06-30 16:19] obeyler commented on #51
Yes I have

[2020-07-01 03:02] #49 closed, assigned to jhunt

[2020-07-01 03:02] #52 closed, assigned to jhunt

[2020-07-01 03:02] #46 closed, assigned to jhunt

[2020-07-01 03:02] #53 closed, assigned to jhunt

[2020-07-01 03:02] #55 closed, assigned to jhunt

[2020-07-01 03:02] #42 closed, assigned to nobody

[2020-07-01 03:02] #45 closed, assigned to nobody

[2020-07-01 03:33] jhunt commented on #43
For the record, the CVE impacting Flannel is CVE-2019-14697.

There's no real detail in <https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-14697>, but the GLSA for it does: <https://security.gentoo.org/glsa/202003-13>.  Specifically, it says:

It seems like there's already a fix available, in musl-1.1.24 and beyond.  Here's what the release notes from musl say:

While I 💯 support updating Fl

[2020-07-01 03:57] #54 closed, assigned to jhunt

[2020-07-01 04:45] obeyler opened #56 "blobs is private"
Blob download 'containerd/containerd-1.3.5-linux-amd64.tar.gz' (id: 742cb1fa-2f84-4665-4d82-884886227d3c) failed

- Getting blob '742cb1fa-2f84-4665-4d82-884886227d3c' for path 'containerd/containerd-1.3.5-linux-amd64.tar.gz':
    Getting blob from inner blobstore:
      Getting blob from inner blobstore:
        AccessDenied: Access Denied
	status code: 403, request id: 784F91B43B9FA398, host id:

[2020-07-01 04:46] obeyler commented on #56
/assign @jhunt

[2020-07-01 11:34] jhunt commented on #56
I re-chacled all the blobs in the bucket, and set the following default bucket policy:

[code]

which should prevent this from happening in the future.

[2020-07-01 11:54] #56 closed, assigned to jhunt

[2020-07-01 17:59] obeyler opened #57 "core-dns stay in not ready state"
inside my cluster with the coredns :
[code]
log of one of core-dns pod
[code]

I haven't the same pb with the PR I proposed https://github.com/jhunt/k8s-boshrelease/pull/47

[2020-07-01 18:32] jhunt commented on #57
Can you provide the manifest you are using to deploy the affected K8s cluster?

[2020-07-01 18:39] jhunt commented on #57
PR #47 only bumped to coreDNS 1.6.9, and ignored a large chunk of changes introduced in the upstream Deployment manifests, which commit 22dc256 took into account, while also upgrading to latest stable, 1.7.0.

[2020-07-01 19:07] jhunt commented on #57
On a 3-node labernetes running flannel, I see this:

[code]

[2020-07-01 19:07] jhunt commented on #57
from a `describe pod` on one of the coredns instances:

[code]

[2020-07-01 19:52] obeyler commented on #57
[code]

[2020-07-01 19:56] obeyler commented on #57
[code]

[2020-07-01 19:57] obeyler commented on #57
I see the error.  I let my old CNI plugin as parameter

[2020-07-01 20:14] obeyler commented on #57
@jhunt I think the pb is link to the usage of weavenet when the pod starts it puts the plugin on the /host/opt/cni
Could you try with the weave CNI ?

check the close PR on Weanenet
I used a volume mount specific to make weave install the plugin in the right place
[code]

[code]

[2020-07-01 20:23] jhunt commented on #57
Yes, we map in `/var/vcap/packages/containerd` into the weave setup container, see https://github.com/jhunt/k8s-boshrelease/blob/master/jobs/net-weave/templates/k8s-init/weave.yml#L182-L184 for the volume definition and https://github.com/jhunt/k8s-boshrelease/blob/master/jobs/net-weave/templates/k8s-init/weave.yml#L139-L140 for the mount.  I called it `opt-cni` to give it more context.

I will ta

[2020-07-01 20:37] obeyler commented on #57
To my part I create several ops file.
the main deployment is nearly empty. it just contains variable, update , stemcells, releases

and then I've got one operator by type of each instance_groups
- one for control
- one for etcd
- one for node
- one for lb

this allow to create easily new type of nodes with specific taints

by example I've got 3 nodes dedicated to persistent
and 2 other dedicated f

[2020-07-02 13:50] jhunt commented on #57
The weave CNI works for me.  I did add the `CHECKPOINT_DISABLE` environment variable, since I had a transient failure related to network latency, and Weave doesn't need to know where I install Kubernetes clusters anyway.  This might affect you, @obeyler since I believe you are running in air-gapped mode, but I don't see that env var being set in the PR you referenced.

For reference, here's the di

[2020-07-03 01:04] obeyler commented on #57
Even with your last modification of `CHECKPOINT_DISABLE` env. the error persist and core-dns is running but not ready.
I still looking why core-dns have timeout when it try to access to api-server.
`E0703 00:50:03.472801       1 reflector.go:178] pkg/mod/k8s.io/client-go@v0.18.3/tools/cache/reflector.go:125: Failed to list *v1.Endpoints: Get "https://10.245.0.1:443/api/v1/endpoints?limit=500&resou

[2020-07-03 01:18] obeyler commented on #57
I remove `max: 0` from kube_proxy's  config map and `resourceContainer: /kube-proxy`
this two items is bad parsed by kubeproxy

[2020-07-03 01:51] obeyler commented on #57
I move this part of kubeproxy config in another issue as it doesn't solve my pb for coredns. I'm still looking for why coredns doesn't access to kubeapi

[2020-07-03 01:54] obeyler opened #58 "Bad kubeproxy configuration"
Inside log of kube proxy, 2 items seems to cause trouble on parsing :
`max: 0` and `resourceContainer: /kube-proxy`

Inside the log of kube proxy I see some error,
[code]

[2020-07-03 02:11] obeyler commented on #57
If I jump into a busybox and try to see if the kubernete svc is listening :

`nc: 10.245.0.1 (10.245.0.1:443): Connection timed out`

so I suppose it's for this reason the coredns is not ready.

[2020-07-03 03:45] jhunt commented on #58
See https://godoc.org/k8s.io/kube-proxy/config/v1alpha1#KubeProxyConfiguration

[2020-07-03 03:45] #58 closed, assigned to jhunt

[2020-07-03 03:45] jhunt commented on #58
Fixed in aeb9bba, and verified that the kube-proxy pods all got a clean bill of health.

[2020-07-03 03:58] jhunt commented on #57
A couple of things to double-check:

1. Is the apiserver process running on the control nodes?
2. Does the `kubernetes` service in `kube-system` have anything behind it?  (`kubectl get ep kubernetes -n kube-system` should show one or more ip:port entries)
3. Is your CNI happy?

Can you provide a manifest that I can use to reproduce your setup?

[2020-07-03 08:01] obeyler commented on #57
No endpoint for kubernetes inside kube-system ns
 kubectl get ep -n kube-system
[code]

it is located to default ns
[code]
this 3 address correspond to the 3 control ip
[code]

[2020-07-03 08:54] obeyler commented on #57
If I launch a container to test api server it respond http 403 (witch is correct as I don't give certificate) and this responce is different from the the core-dns log witch is **timeout**:
[code]

[2020-07-03 12:37] jhunt commented on #57
What happens if you run that tmp-shell in its own network namespace?

[2020-07-03 13:19] obeyler commented on #57
[code]
I think this is the pb.
It doesn't manage to reach it when it doesn't use hostNetwork

[2020-07-03 13:21] obeyler commented on #57
It's like it doesn't manage to reach the service network

[2020-07-03 13:29] jhunt commented on #57
That makes me suspect the CNI.

Can you provide a manifest that I can use to reproduce your setup?

[2020-07-03 13:36] obeyler commented on #57
I sended it by slack
To my part I suspect the Kube-proxy

[2020-07-03 13:40] jhunt commented on #57
Okay, I'm going to try to build an equivalent version of your deployment in my lab today or tomorrow to see if I can repro this issue.

[2020-07-03 13:42] obeyler commented on #57
Thanks By advance

[2020-07-03 13:49] obeyler commented on #57
what is the difference beetween kube-proxy and bosh-kube-proxy ?

[2020-07-03 15:23] jhunt commented on #57
We run our own image; `bosh-kube-proxy` is just the name we give it.  You can see the Dockerfile here: https://github.com/jhunt/k8s-boshrelease/blob/master/images/kube-proxy/Dockerfile

I was able to reproduce your issue, and it's more than just accessibility of the kubernetes API via service.  I am unable to get _any_ network traffic out of a Pod that isn't `hostNetwork: true`.  I'm going to try

[2020-07-03 15:27] jhunt commented on #57
For posterity, and because my memory these days is shot, here's the commands I'm running in a [huntprod/jumpbox](https://github.com/huntprod/jumpbox) pod to approximate curling Google without involving CoreDNS (which is still borked):

[code]

(having used `dig` to find the IP for google.com, on a system with a working resolver)

[2020-07-03 16:28] jhunt commented on #57
I downsized the cluster to take some load off of my lab, and even with 1 LB / 1 control / 1 node, I still see the issue with the CNI and reachability of the default kubernetes service.

When I switch to flannel, on the other hand, and drop / recreate the coredns pods, they come up without any issue.  I think this is a CNI problem, specifically related to weave.

[2020-07-03 16:31] jhunt commented on #57
The above curl works under flannel:

[code]

(the "failed to validate" is correct; we connected to google and while we sent a Host: header, we did NOT send an SNI so we get back an invalid self-signed cert telling us to "fix our client" -- go ahead; try it out in your browser, it's fun!)

[2020-07-03 18:02] obeyler commented on #57
Good news, I checkout my old wip merge branch (https://github.com/orange-cloudfoundry/k8s-boshrelease/tree/wip-merge)  where I put all pr together I've done and the coredns works on it
[code]
I try to find the delta between what affect the current develop branch

Outch maybe not :
If I try to reach api server from a pod deployed it also doesn't work
kubectl run tmp-shell2 --generator=run-pod/v1 --

[2020-07-06 13:24] obeyler commented on #57
I found the pb it due to the fact that service and pod are not located to same network
so  it needs to add "sysctl net.ipv4.ip_forward=1"

[2020-07-06 13:27] #57 closed, assigned to nobody

[2020-07-08 12:02] jhunt commented on #39
Completed in #60

[2020-07-08 12:02] #39 closed, assigned to nobody

[2020-07-30 08:02] obeyler opened #61 "Propose a mecanism to backup etcd"
It can be great idea to use shield to propose a way to backup etcd or describe how to do that.
see https://github.com/shieldproject/shield :-)

[2020-07-30 08:18] obeyler opened #62 "Support Additional CoreDNS (plugin) Configuration"
Feature:  give the opportunity to add plugin inside configmap of coredns config
Why : by example some plugin like `hosts` see https://coredns.io/plugins/hosts/ can be very useful to allows coredns to add hosts file to get ip from bosh topology
or forward see https://coredns.io/plugins/forward/

[code]
We can be inspired by helm template https://github.com/helm/charts/blob/6878cfd32d2240dbd907a7778

[2020-07-30 11:52] jhunt commented on #62
Would it make sense to just add an embeddable property?

i.e.:

[code]

rather than invent a new syntax via BOSH job properties?

[2020-07-30 12:38] obeyler commented on #62
easiest flexible and good idea :-)

[2020-07-30 12:48] obeyler commented on #62
or if you want more constrain structure as you've done for mirror of containerd a set of named attributes
[code]

[2020-07-30 16:15] jhunt commented on #62
check out https://github.com/jhunt/k8s-boshrelease/pull/63, @obeyler

[2020-08-02 12:29] obeyler commented on #62
we also need a way to add extra volume to be able to give the `hosts` file from node to the pod
[code]

[2020-08-02 15:28] jhunt commented on #62
Perhaps it makes more sense to make this disableable and reconfigurable by normal `kubectl` means than via more and more custom BOSH parameters.

[2020-08-02 19:59] obeyler commented on #62
May be.

[2020-08-03 17:03] obeyler commented on #62
see my proposal: https://github.com/jhunt/k8s-boshrelease/pull/64

[2020-08-03 17:12] #62 closed, assigned to jhunt

[2020-08-14 08:18] obeyler opened #65 "Need to upgrade K8S version (CVE-2020-8557 && CVE-2020-8559)"
As  CVE-2020-8557 and CVE-2020-8559
- https://nvd.nist.gov/vuln/detail/CVE-2020-8557
- https://nvd.nist.gov/vuln/detail/CVE-2020-8559
 impact the current version of K8S bosh (K8S 1.18.5)
it needs to bump at least to 1.18.6 (note that 1.18.8 has been also released)

[2020-08-14 12:09] obeyler commented on #38
It's not really same as cert manager as it also needs to add args on kube-api server to enable aggregation layer
[code]

[2020-08-14 12:12] obeyler commented on #38
May we can add this flag by default on api server (I think it's the best choice) or add it only if we enable metrics-server
What do you prefer ? I'll update my PR depending your answer.

[2020-08-17 13:05] jhunt commented on #65
I've got a working (non-eventful) upgrade to 1.18.6 in my lab; working through upgrading other auxiliary components (containerd and friends) and then we can cut a 1.18.8-build.1 release to address these.

[2020-08-17 13:05] jhunt commented on #38
I would prefer the latter; if metrics-server is enabled, then we adjust the default set of apiserver flags.

[2020-08-17 13:35] jhunt commented on #65
Try [v1.18.8-build.1](https://github.com/jhunt/k8s-boshrelease/releases/tag/v1.18.8-build.1), @obeyler

[2020-08-17 13:42] obeyler commented on #65
I'll do that immediately :-) Thanks !

[2020-08-20 13:49] obeyler opened #66 "Verify CVE before use image inside K8S"
At kubecon 2020 I saw a product 'trivy' (https://github.com/aquasecurity/trivy)  witch can be combine with opa to check each docker image before use. (https://github.com/aquasecurity/trivy#filter-the-vulnerabilities-by-open-policy-agent-policy)
As we discussed earlier about the flannel cve I thing may be it can be a good idea to add it to the K8S bosh release.

[2020-08-25 12:32] obeyler opened #67 "Add a force drain option to purge all pod inside a node"
When update bosh deployment to rezize disk or update stemcell we need to be able to make a full drain automatically.
we can be inspired by cfcr bosh release : https://github.com/cloudfoundry-incubator/kubo-release/blob/6f9046f29de4b9e3f089502df6887d5d058b4249/jobs/kubelet/templates/bin/drain.erb#L75
and check for attached PV / disk
https://github.com/cloudfoundry-incubator/kubo-release/blob/6f9046

[2020-08-25 16:26] obeyler commented on #67
@jhunt is there a good raison to set root for containerd on /var/vcap/store ? and not on /var/vcap/data

https://github.com/jhunt/k8s-boshrelease/blob/4adef9fa622739fb819614650bfeb9a858ca2d8d/jobs/runtime-runc/templates/bin/containerd#L54
It seems to look the persistent disk and forbide the resize of persistent disk

[2020-08-25 16:37] jhunt commented on #67
Probably just an oversight.

Out of curiosity, what are you storing on your persistent volume?  Most of my kubelet nodes lack persistent volumes, since they have no data to persist.

[2020-08-25 19:30] obeyler commented on #67
I use the persistant volume to store data of PV made by openebs (openebs.io). With this method I'm not dependant of any cloudprovider. It create dynamic LocalPV or Cstor storageclass.
You can also use project like longhorn from rancher they also use a directory to store data. Instead of put it in /var/lib/longhorn you put it on /var/vcap/store/longhorn
In your part how do you manage persistant vol

[2020-08-26 15:37] obeyler opened #68 "Add toleration option on each CNI daemonset"
When daemonset for flannel or weavenet is created we need to add the opportunity to add toleration.
Because if you put some taint on specific node to dedicate them , the daemonset won't be able to put a pod on it.

default node hasn'tgot any taint but we have 3 nodes with this parameter on job kubelet

(they are exposed by go router)
[code]

and 3 other (with big persistent disk)

[code]

[2020-08-26 16:21] obeyler commented on #68
note that current toleration put on daemonset for flannel and weavenet  are different
https://github.com/jhunt/k8s-boshrelease/blob/4adef9fa622739fb819614650bfeb9a858ca2d8d/jobs/net-flannel/templates/k8s-init/flannel.yml#L106-L108

https://github.com/jhunt/k8s-boshrelease/blob/4adef9fa622739fb819614650bfeb9a858ca2d8d/jobs/net-weave/templates/k8s-init/weave.yml#L181-L185

[2020-08-26 18:49] #65 closed, assigned to jhunt

[2020-08-26 20:06] jhunt commented on #68
Handled in #69.

[2020-08-26 20:06] #68 closed, assigned to nobody

[2020-08-27 08:26] obeyler opened #70 "Rescale deployment cause pb with not ready node still present"
When you scale down the number of node inside bosh deployment yaml, node deleted are seen as No responding Pod and so on if you have to redeploy the control plane consider that the deployment failed as some node are not in ready state.

To solve that we need to do a kubectl delete node xxxx to remove this node inside the etcd. I think we can add this command inside the drain.

After scale down we

[2020-08-27 14:08] jhunt commented on #70
Question: is there a problem with treating "liveness" of the kubelet process as the indicator for "liveness" of the etcd node record?  Put another way, does it make sense to delete the node _every time_ the kubelet process is stopped via monit, and add it back in on monit start?

[2020-08-27 15:10] obeyler commented on #70
In fact when kubelet is out the node is out.
if kubelet is on the node can be ready or not depending on the network layer
so on I think it's a good idea to delete node when kubelet died

[2020-08-27 15:31] jhunt commented on #70
To clarify, I'm talking specifically about `monit stop` and `monit start` events.  If the kubelet process crashes out-of-band, the node record should (and will!) remain in the etcd store, so that you can see and troubleshoot that: "hey, that third node is NotReady!" vs. "my 2-node cluster is healthy, I don't see what ----- hey wait a minute, where's the third node?!"

That neatly sidesteps the sce

[2020-08-27 15:39] obeyler commented on #70
may I can put this inside pre-stop script and test :

BOSH_VM_NEXT_STATE = delete
BOSH_INSTANCE_NEXT_STATE = delete
BOSH_DEPLOYMENT_NEXT_STATE = keep

witch mean that it a Scaling down  instance (https://www.bosh.io/docs/pre-stop/#environment-variables)

[2020-08-28 15:24] obeyler commented on #70
In fact no we can detect inside pre-stop that it's a scaling down number of node instance and put a flag to say to the drain that it needs to delete the node. So on only in case of scaling down, node will be deleted. Play with monit start/stop on kubelet doesn't delete node. I propose this as a pr #72

[2020-08-31 12:42] obeyler opened #73 "Add script to be able to find missing file for blob"
Hi,
I found the way to upload K8S component and add them to the blobs with
[code]
this will create entries for K8S compoenent inside the ./config/blobs.yml
but some others component are missing and I don't find any script who downdload and add blod for them
such as :
[code]

[2020-08-31 12:58] obeyler commented on #73
Do you think that we need to add the missing file at the end of utils/update-from-upstream ? of make another file for that?
there is utils/getrpm for nfs-c7-rpms/*  but it doesn't do add blob and nothing for *.deb
nor
[code]

[2020-08-31 12:59] jhunt commented on #73
What are you trying to accomplish?

[2020-08-31 19:47] jhunt commented on #70
Yeah, I figured pre-stop would have to use disk to communicate to a future post-deployment hook.

Is there a reason you didn't want `monit stop` to handle this?

[2020-08-31 20:38] obeyler commented on #73
On my bosh release, I have a addblob.sh to downlod and add the blob. I think it's a good thing when a bosh release is done to know from where each file is coming. I want to be able to rebuild every thing to test for example a new version or if a CVE is found anywhere. You've also done for some file this but not for all. Is there any reason about that ?

[2020-08-31 20:43] obeyler commented on #70
I thought it was that you want when you said:

[2020-08-31 20:48] jhunt commented on #70
I was saying I wanted the node records to persist if kubelet stops for any reason _other_ than a `monit stop`

[2020-08-31 20:58] jhunt commented on #73
If you're just trying to get the blobs, `bosh sync-blobs` should download them and populate the local working directory with the tarballs.

[2020-08-31 21:04] obeyler commented on #73
I already do that but with this I'm not able to know from where the blob came. by example the socat file came from I don't know and so on I'm not able to check if a new version exist or not. You think it's a bad practice to do that ?

[2020-08-31 21:43] jhunt commented on #73
Okay, so the answer to

is "check for new versions of blobs"

The reason those blobs are not in the `update-blobs` script is that they change so infrequently, and I only built that script because I got tired of manually chasing down new versions of things.  I have been working on another project that unifies all the messy logic of "what is the latest version of X available", a surprisingly intract